<div class="row">
		<div class="col-md-3 well">
			
				<%= render 'layouts/sidebar' %>
	
		</div>
		
		<div class="col-md-9">
			<h2>Advocacy</h2>

			<p>
				We are currently working on a number of case studies. Check back real soon!
			</p>
		
		
	</div>
</div>