<div class="row">
		<div class="col-md-3 well">
			
				<%= render 'layouts/sidebar' %>
	
		</div>
		
		<div class="col-md-9">
			<h2>Employment</h2>


<h4>Places where you can find remote worker-friendly jobs:</h4>


<h3><a href="https://weworkremotely.com/">weworkremotely.com</a></h3>
<p>
	From the minds of <a href="http://www.37signals.com">37signals</a> comes a jobs site dedicated to remote workers.
</p>

<h3><a href="http://www.authenticjobs.com/">authenticjobs.com</a></h3>
<p>
	The always-great Authentic Jobs has some remote positions. You can easily filter by clicking the "Remote jobs" button..
</p>

<h3><a href="https://jobs.github.com">jobs.github.com</a></h3>
<p>
	Github Jobs site allows does have some remote positions. When you search, just put in "remote" into the Location box.
</p>

<h3><a href="http://careers.stackoverflow.com/">careers.stackoverflow.com</a></h3>
<p>
Plenty of remote jobs posted here as well. Just search for "remote" under location.

</p>

<h3><a href="http://www.flexjobs.com/jobs/telecommuting-remote-jobs">flexjobs.com</a></h3>
<p>
A lsit of remote jobs. Has a lot of variety - not just software development jobs.

</p>
<br>
<br>
<p>
	Is there a site missing here? Email me your suggestions! chris@remote-worker.org
</p>
	</div>
</div>