<div class="sidebar">
				<h2><%= link_to "Remote-Worker.org", root_path %></h2>
	        <p>Remote-Worker.org is your portal to the wonderful world of remote working. Below are some of the topics we will cover. We will be launching soon!</p>
					
					<div align="center">
						
					 <a href="/articles"><img src="/assets/articles_small.png" alt="..." class="img-circle"></a>
          <h4><%= link_to "Articles", articles_path %></h4>
					<p>
						News and analysis
					</p>						
						
						
						
					 <a href="/advocacy"><img src="/assets/advocacy_small.png" alt="..." class="img-circle"></a>
          <h4><%= link_to "Advocacy", advocacy_path %></h4>
					<p>
						Case studies and information
					</p>
					
						 <a href="/employment">
						 <img src="/assets/jobs_small.png" alt="Employment">
					 	</a>
					<h4><%= link_to "Employment", employment_path %></h4>
					
					<p>
						Opportunites for Remote Workers
					</p>
</div>
</div>