<div class="sidebar">
				<h2><%= link_to "Remote-Worker.org", root_path %></h2>
	        <p>Remote-Worker.org is your portal to the wonderful world of remote working. Below are the sections of this site. Have a look around and help us build a great community around remote working!</p>
					
					<div align="center">
						
					 <a href="/articles"><img src="http://remote-worker.org.s3.amazonaws.com/images/articles_small.png" alt="Articles" class="img-circle"></a>
          <h4><%= link_to "Articles", articles_path %></h4>
					<p>
						News, analysis and discussion around remote working topics.
					</p>						
						
						
						
					 <a href="/advocacy"><img src="http://remote-worker.org.s3.amazonaws.com/images/advocacy_small.png" alt="Advocacy" class="img-circle"></a>
          <h4><%= link_to "Advocacy", advocacy_path %></h4>
					<p>
						Case studies and information to help guide you on the remote working path
					</p>
					
						 <a href="/employment">
						 <img src="http://remote-worker.org.s3.amazonaws.com/images/jobs_small.png" alt="Employment">
					 	</a>
					<h4><%= link_to "Employment", employment_path %></h4>
					
					<p>
						Growing number of oportunites are out there for remote workers
					</p>
</div>
</div>